body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

.imoveis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.imovel {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.imovel img {
    max-width: 100%;
    height: auto;
}
